RewriteEngine On

# Redirigir raíz a /frontend/
RewriteRule ^$ frontend/ [R=302,L]

# Mantener routing de Slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]